/* For styling the rendered Markdown */

:root {
    --black-ish: #111;
    --white-ish: #d4dae8;
    --grey: #32353b;
    --light-grey: #BBB;
    --yellow: #d1b557;
    --light-yellow: #ffeeb6;
    --blue: #3185FC;
    --dark-blue: #48589e;
    --red: #D00;
    --green: #20CE88;
    --razzmatazz: #4b5362;
    --block-print: #f1f1f1;

    --tiny: 0.2rem;
    --tinyem: 0.2em;
    --small: 0.5rem;
    --smallem: 0.5em;
    --lessthan-regular: 0.8rem;
    --regular: 1.1rem;
    --regular-em: 1.1em;
    --morethan-regular: 1.3rem;
    --morethan-regular-em: 1.3em;
    --big: 1.6rem;
    --big-em: 1.6em;
    --bigger: 1.8rem;
    --bigger-em: 1.8em;
    --twice: 2.2rem;
    --height: 3.1rem;
    --mastodon: 4.4rem;
    --margin: 6.5rem;
    --trans: .5s;
    --quicktrans: .1s;
}

body {
    --primary: var(--yellow);
    --secondary: var(--razzmatazz);
    --background2: #2c2f36;
    --text: #989ca5;
    --headers: #a3a0c9;
    --comment: #515d79;
    --params: #9970af;
    --keywords: #5c93a3;
    --titles: #7cbbd1;
    --h1: #8eb48e;
	--h2: #a3a0c9;
	--h3: #6db8b4;
	--h4: #f17d7d;
	--h5: #71eb71;
	--h6: #6783ff;
}

/*****************************************************
 * IMPROVEMENTS TODO LIST:
 * - checkbox style
 * - custom syntax highlighting css import
 *****************************************************/

/* CODE BLOCKS FRAME*/
.hljs {
    background: var(--background2);
    padding: var(--lessthan-regular);
    border-radius: 5px !important;
    margin: 0.4rem 0;
    overflow: scroll;
}

/* Copy to clipboard */
.joplin-editable::before {
    content: element(heading); 
  }

ol{ 
    margin-top: 0;
    margin-bottom: 0;
}

/* RENDERED CONTENT PADDING */
#rendered-md {
    padding: 5%;
    /* render auto-column layout */
    column-count: auto;
    column-width: 30rem;
    column-gap: 2rem;
    column-rule-color: var(--secondary);
    column-rule-style: dashed;
    column-rule-width: 2px;
}

.resource-icon { width: 1.2em; height: 1.2em; }
.fa-joplin {
    -webkit-mask-box-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='207.613 134.756 58 58.005' width='58' height='58.005' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M 32.103 2.995 C 32.103 2.995 29.992 3.049 29.036 3.15 C 28.052 3.248 27.107 3.393 26.157 3.589 C 24.253 3.974 22.461 4.534 20.714 5.279 C 17.209 6.739 14.144 8.845 11.494 11.494 C 6.191 16.797 3 23.92 3 32 C 3 40.08 6.191 47.203 11.494 52.506 C 16.797 57.809 23.92 61 32 61 C 40.08 61 47.203 57.809 52.506 52.506 C 57.809 47.203 61 40.08 61 32 C 61 23.92 57.832 16.774 52.506 11.494 C 47.227 6.17 40.079 2.957 31.995 3 M 40.724 43.675 C 39.073 46.337 36.086 47.863 32.202 47.863 C 28.358 47.863 25.484 46.644 23.954 44.448 C 22.671 42.381 21.959 39.525 21.907 36.17 L 21.883 34.15 L 29.635 34.15 L 29.635 35.819 C 29.679 37.984 29.864 39.338 30.237 40.136 C 30.386 40.503 30.432 40.599 30.698 40.661 L 30.738 40.67 L 30.793 40.708 C 31.065 40.896 31.387 40.921 31.98 40.921 C 32.56 40.921 32.866 40.898 33.129 40.696 L 33.182 40.655 L 33.223 40.645 C 33.492 40.574 33.56 40.426 33.727 40.026 C 33.951 39.541 34.036 38.765 34.031 37.433 L 34.031 16.139 L 42.094 16.139 L 42.094 18.139 L 42.094 37.704 C 42.047 40.093 41.579 42.149 40.724 43.675 Z' transform='matrix(1, 0, 0, 1, 204.612717, 131.760895)'/%3e%3c/svg%3e");
    -webkit-mask: none;

}


body,
th,
td {
    color: var(--text);
}

body {
    line-height: 1.4em !important;
    font-size: 0.9rem;
}

li { margin-bottom: .2em }


th {
    font-weight: var(--bold) !important;
    background: var(--primary) !important;
    color: var(--background2) !important
}

th,
td {
    border: 1px solid var(--grey) !important;
}

/* change selection color (it appears darker than it should) */
/* ::selection {
    color: #222 !important;
    background: var(--light-yellow) !important;
} */
::selection {
	background: #f8ff9144 !important;
}

/*********
  HEADERS
 *********/
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
table {
    margin-top: 0;
    font-family: 'Noto Sans JP', sans;
}

p { color: var(--text); margin-bottom: var(--lessthan-regular) }
p img[data-from-md] {margin-top: .5em;}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bolder !important;
    margin-top: var(--lessthan-regular);
    border-bottom: none !important;
    break-after: avoid;
    page-break-inside: avoid;
}

h1 {color: var(--h1)}
h2 {color: var(--h2)}
h3 {color: var(--h3)}
h4 {color: var(--h4)}
h5 {color: var(--h5)}
h6 {color: var(--h6)}


/* LINE SEPARATOR */
hr {
    padding: var(--tiny) !important;
    /* margin-bottom: var(--regular) !important; */
    margin-left: -2.5%;
    margin-right: -2.5%;
    border: 1px solid var(--secondary);
}

.md-checkbox input[type="checkbox"i] {
    background: var(--grey) !important;
    /*opacity: 0.8 !important;*/
    /* it must be fully opaque or custom bullet point will be shown */
    border: none !important;
}

.md-checkbox input[type=checkbox]:checked {
    opacity: 1 !important;
}

a {
    text-decoration: none !important;
    color: var(--primary) !important
}

a:hover {
    border-bottom: 2px dashed var(--primary) !important;
}

hr,
.footnotes-sep {
    border: 0;
    border-bottom: 2px dashed var(--secondary) !important
}

/* INTERNAL LINKS COLOUR */
a[data-resource-id] {
    color: var(--yellow) !important;
    /* https://discourse.joplinapp.org/t/share-your-css/1730/65 */
}

a[data-resource-id]:hover {
    border-bottom: 2px dashed var(--yellow) !important;
}

/* JOPLIN ICON IN JOPLIN INTERNAL LINK */
.resource-icon {
    background: var(--yellow) !important;
    transform: scale(0.8);
    top: .3em !important;
}

/*  ```
    CODE BLOCKS
    ```           */
.code,
code,
pre {
    font-family: "Fira Code" !important;
    font-size: var(--lessthan-regular);
    break-inside: avoid;
}

/* `INLINE CODE` */
.inline-code {
    padding: .3em .4em .2em .4em !important;
    border-radius: 3px !important;
    color: var(--primary) !important;
    background: var(--grey) !important;
    border: none !important;
}

/* OCCURENCES OF SEARCH TERM */
mark[data-markjs] {
    background: var(--primary);
    color: #222
}

/* CURRENT SEARCH TERM (LOCAL SEARCH) */
mark[data-markjs].mark-selected {
    background: var(--primary);
    color: #222
}

mark {
    background: var(--primary) !important;
    color: #222 !important
}

.hljs-function{color: var(--white-ish) !important;}
/* COMMENTS */
.hljs-comment{color: var(--comment) !important;}
/* Function params */
.hljs-params{color: var(--params) !important;}
/* Keywords */
.hljs-keyword{color: var(--keywords) !important;}
/* Function Titles */
.hljs-title{color: var(--titles) !important;}

.jop-tinymce table, table{
    page-break-inside: avoid;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

/************
  PDF EXPORT 
 ************/
@media print {

    @page {
        size: A4 portrait;
        /* vertical | horizontal */
        margin: 10mm 5mm !important;  
    }

    body,
    p,
    ol,
    ul,
    li,
    em,
    strong,
    b {
        color: var(--black-ish) !important;
    }

    body, code {
        line-height: 1em !important;
        font-size: 0.5rem !important;
    }
    
    #joplin-container-content{padding-left: 0 !important; padding-right: 0 !important;}

    .exported-note-title {
        border: 0;
        text-align: left;
        font-size: 12pt !important;
        color: #bbb;
        font-style: italic;
    }
    body {
        font-family: 'Noto Sans JP', sans;
        background: white;
        -webkit-print-color-adjust: exact !important;
        filter: grayscale(1);
        /* render auto-column layout */
        column-count: 2;
        /* column-width: 15rem; */
        column-gap: 1rem;
        column-rule-color: #ddd;
        column-rule-style: dashed;
        column-rule-width: 1px;
    }

    #rendered-md{padding: 0 !important;margin: 0 !important;}

    hr{
        margin-left: 0;
        margin-right: 0;
        border-width: 1px !important;
        border-color: #ddd !important;
    }


    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: black;
        border: 0
    }
    h1, h2, h3, caption {
        page-break-after: avoid !important;
    }

    a {
        color: var(--dark-blue) !important;
        text-decoration: none;
    }

    a[href]:after {
        content: " (" attr(href) ")";
        color: #aaa !important;
    }

    .hljs{padding: 2px !important; border-radius: 0 !important;}

    .hljs-comment{color: #666 !important; font-weight: 300;}

    a[data-resource-id],
    .hljs-built_in, .hljs-class, .hljs-title
    { color: #444 !important; }

    .hljs-string
    { color: #000 !important; font-weight: 400;}

    .code,
    code,
    pre,
    .inline-code,
    .mce-content-body code {
        border-radius: 5px !important;
        outline: none;
        border: none !important;
        background: var(--block-print) !important;
        color: black !important;
        font-weight: 500;
        line-height: 1.5em !important;
    }

    table,
    pre {
        page-break-inside: avoid
    }

    pre {
        word-wrap: break-word
    }

    .footnotes-sep {
        border-bottom: 2px dashed var(--block-print) !important
    }

    blockquote {
        color: #111;
        font: italic 1em "Roboto", Merriweather, Times, serif;
        margin: 1em 0;
        border-left: 4px dashed var(--block-print);
        padding-left: .6em
    }
}
